
html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 30px;
  color: $default;
  @extend %Rubik-500;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  @extend %Rubik-400;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  &__list{
    display: flex;
  }
  &__item{
    position: relative;
    padding-right: 20px;
    color: #979ba0;
    &::after{
      content: '/';
      position: absolute;
      right: 5px;
    }
    &:last-child{
      color: $accent;
      padding-right: 0;
      &::after{
        display: none;
      }
    }  
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 100px 0 115px 0;
  &__list{
    display: flex;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  
  &__link{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #a3bbc8;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
  &__link--active{
    background-color: #a3bbc8;
    color: #fff;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
  }
  &__next{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #a3bbc8;
    width: 75px;
    height: 50px;
    margin-left: 15px;
    background-color: #fff;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
}