@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  @extend %Rubik-500;
  font-size: 36px;
  line-height: 58px;
  padding-left: 65px;
  position: relative;
  color: $title;
}

.logo::before{
  content: url('../images/logo.png');
  left: 0;
  position: absolute;
  margin-top: 8px;
}

.menu{
  margin-left: 160px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $title;
    padding-bottom: 3px;
    transition: all .3s;
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 12px;
    &:hover{
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__list-link--active{
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %Rubik-500;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  
  &__link + .user-nav__link{
    padding-left: 60px;
  }
  &__link-img{
    width: 18px;
    height: 16px;
  }
  &__link-search{
    width: 51px;
    height: 51px;
    background-color: #edf1f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link-block{
    width: 178px;
    height: 51px;
    background-color: #fcd7b6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
  &__link-dots{
    width: 51px;
    height: 51px;
    background-color: #a3bbc8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link{
    position: relative;
  }
  &__nam{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    @extend %DMSans-400;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #243f4d;
  }
}

.footer__inner{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.footer-top{
  padding: 80px 0px 57px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 250px;
    margin-right: 100px;
  }
  &__nav{
    width: 170px;
    margin-right: 130px;
  }
  &__title{
    color: #1f2044;
    @extend %DMSans-700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 22px;
  }
  &__item-form{
    max-width: 275px;
  }
  &__item{
    margin-bottom: 14px;
  }
  &__logo{
    margin-bottom: 10px;
    display: block;
  }
  &__adress{
    line-height: 24px;
  }
  &__contact{
    margin-top: -22px;
  }
  &__text{
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
  @extend %Rubik-400;
  }
  &__text{
    margin-bottom: 28px;
  }
  &__form-input{
    padding: 12px 10px 12px 16px;
    max-width: 170px;
    width: 100%;
    height: 40px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      @extend%DMSans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn{
    max-width: 100px;
    width: 100%;
    height: 40px;
    color: #f9fafb;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
    margin-left: -4px;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %Rubik-400;
  font-size: 14px;
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__link{
    margin-left: 30px;
    position: relative;
  }
  &__link::before{
  content: "|";
  left: -15px;
  bottom: -6px;
  position: absolute;
  margin-top: 8px;
  }
}

.top{
  background-color: #edf1f4;
  &__container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    padding: 35px 0 35px;
    text-align: center;
  }
  &__title{
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919; 
    margin-bottom: 8px;
  }
}
.terms{
  &__inner{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  }
  &__title{
    @extend %Rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
    margin: 60px 0 20px;
  }
  &__list{
    list-style-type: decimal-leading-zero;
    margin-left: 28px;
  }
  &__item{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d; 
    padding-bottom: 20px;
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d; 
    padding-bottom: 20px;
  }
}


.top-slider{
  background-image: url('../images/ellipse.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom 85px right 185px;
  background-color: $slider;
  padding-top: 225px;
  &__title{
    max-width: 415px;
    font-size: 72px;
    line-height: 72px;
    color: #243f4d;
    @extend %Rubik-500;
    margin-bottom: 35px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    padding-right: 300px;
    margin-bottom: 18px;
  }
  &__content{
    padding-left: 300px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
    max-width: 365px;
    color: $title;
    @extend %Rubik-400;
  }
  &__link{
    @extend %btn;
    position: relative;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url('../images/link-arrow.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    top: 28px;
    left: 160px;
  }
  &__img{
    padding-top: 45px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding: 205px 0 40px;
    li{
      padding: 0 6px;
      button{
        padding: 0;
        @extend %Rubik-500;
        font-size: 10px;
        line-height: 8px;
        background-color: #fde3cc;
        color: #667983;
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      &.slick-active{
        button{
        background-color: #fff;
        color: #243f4d;
        }
      }
    }
  }
}


.products-info{
  padding: 0;
  margin-bottom: 190px;
}

.info{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  &__item{
    display: flex;
    background-color: $bg;
    width: 590px;
    padding: 35px 0 35px;
  }
  &__item + .info__item{
    border-left: 1px solid #e8e4df;
  }
  &__item-img{
    padding: 15px 22px 0 150px;
  }
  &__item-title{
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text{
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 30px;
    width: 218px;
    color: $default;
  }
}

.products{
  &__inner{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  &__inner-title{
    display: flex;
    justify-content: center;
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919; 
    margin-bottom: 35px; 
  }
  &__inner-menu-list{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__inner-menu-list-item + &__inner-menu-list-item{
    padding-left: 31px;
  }
  &__inner-menu-list-link{
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &__inner-menu-list-link:hover{
    color: #191919; 
    transition: all .3s;
  }
  &__inner-menu-list-link--active{
    color: #191919; 
    transition: all .3s;
  }
.product{
  margin-bottom: 180px;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}
.product-item{
  max-width: 270px;
  height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  
  &__img-box{
    position: relative;
    overflow: hidden;
  }
  &__images-box{
    width: 270px;
    height: 270px;
  }
  &__link-box{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    right: 0;
    left: 0;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link-box-1{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 12px;
    transition: all .3s;
  }
  &__link-box-1:hover{
    background-color: #a3bbc8;
  }
  &__link{
    display: flex;
    margin-top: 12px;
    margin-left: 12px;
  }
  &__link{
    path{
      transition: all .3s;
    }
  }
  &__link:hover{
    path{
      fill: #fff;
    }
  }
  &__title{
    margin-top: 20px;
    margin-bottom: 5px;
    @extend %Rubik-500;
  }
  &__price{
    margin-bottom: 40px;
    color: #a3bbc8;
  }
  &__images{
    object-fit: cover; 
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
}
.product-item__images{
  margin: 0 auto;
  padding-top: 40px;
}
}

.lamps{
  display: flex;
  justify-content: space-between;
  &__info{
    display: flex;
    justify-content: center;
    width: 870px;
    max-height: 380px;
    background-color: #feefe2;
  }
  &__info-title{
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  &__info-text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__info-descr{
    max-width: 335px;
  }
  .info-descr-1{
    padding-top: 90px;
    padding-left: 10px;
  }
  .info-descr-2{
    padding-top: 80px;
    padding-left: 55px;
  }
  &__info-link{
    @extend %btn;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: $title;
    position: relative;
  }
  &__info-link::after{
    content: "";
    position: absolute;
    background-image: url('../images/link-arrow-1.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    top: 28px;
    left: 160px;
  }
  &__info-images{
    display: flex;
    align-items: center;
    margin-bottom: 170px;
  }
}

.newdesign{
padding: 100px 0;
  &__inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title{
    display: flex;
    justify-content: center;
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919; 
    margin-bottom: 35px; 
  }
  &__menu-list{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__menu-list-item + &__menu-list-item{
    padding-left: 31px;
  }
  &__menu-list-link{
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &__menu-list-link:hover{
    color: #191919; 
    transition: all .3s;
  }
  &__menu-list-link--active{
    color: #191919; 
    transition: all .3s;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }

  &__item{
    display: flex;
    justify-content: start;
    width: 370px;
    height: 246px;
    cursor: pointer;
    &:hover{
      border: 1px solid #a3bbc8;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      transition: all .3s;
    }
  }
  &__item-box{
    display: inline-block;
    max-width: 175px;
    margin-left: -335px;
    margin-top: 40px;
  }           
  &__item-title{
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    @extend %DMSans-700;
    font-size: 20px;
    line-height: 25px;
    color: #191919;
  }
  &__item-model{
    color: #a3bbc8;
  }
}

.newdesign-video__popup{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.articles{
  padding-top: 110px;
  &__inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item-box{
    margin: 0 auto;
    width: 318px;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__item-info{
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 318px;
  }
  &__title-box{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919; 
    margin-bottom: 35px;
  }
  &__title-link{
    @extend %DMSans-700;
    font-size: 16px;
    color: #191919; 
    padding-right: 26px;
    position: relative;
  }
  &__title-link::after{
    content: '';
    background-image: url('../images/icons/article-arrow.svg');
    width: 6px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 10px;
    left: 80px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    background-color: #fff;
    &:hover{
      border: 1px solid #a3bbc8;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      transition: all .3s;
    }
  }
  &__item-title{
    @extend %Rubik-500;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
    margin: 30px 0 10px;
    position: relative;
  }
  &__item-title::before{
      content: '';
      background-image: url('../images/icons/news.png');
      width: 104px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: auto;
      position: absolute;
      top: -46px;
      left: -4px; 
    }
  &__item-date{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
    margin: 30px 30px 30px 0;
  }
  &__item-autor{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
    margin: 30px 0 30px;
  }
}
.partners{
  background-color: $bg;
  margin-top: -195px;
  &__inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 260px 0 80px;
  }
}

.modal{
  padding-top: 115px;
  max-width: 470px;
  margin: 0 auto 120px;
  &__label{
    margin-bottom: 25px;
    display: block;
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $title;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 60px;
    padding: 0 15px;
    margin-top: 10px;
  }
  &__btn{
    display: block;
    background-color: #a3bbc8;
    @extend %Rubik-500;
    font-size: 18px;
    color: #fefefe;
    padding: 20px 0;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    margin-top: 35px;
  }
  &__label-box{
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f6f6f6;;
  }
  &__error{
    margin-bottom: 25px;
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $title;
  }
  &__reg-text{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $title;
  }
  &__reg-link{
    display: flex;
    justify-content: center;
    border: 2px solid #a3bbc8;;
    @extend %Rubik-500;
    font-size: 18px;
    color: #243f4d;
    height: 55px;
    align-items: center;
  }
  &__partners{
    background-color: $bg;
  }
  &__partners-inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0 70px;
  }
}

.aboutus{
  &__inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 120px;
  }
  &__image{
    max-height: 625px;
    max-width: 570px;
    margin-right: 45px;
  }
  &__experience{
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-bottom: 40px;
  }
  &__experience-num{
    @extend %DMSans-700;
    font-size: 140px;
    line-height: 66px;
    color: #a3bbc8;
    margin-right: 25px;
  }
  &__experience-text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
  &__title{
    @extend %DMSans-700;
    font-size: 36px;
    color: #243f4d; 
    margin-bottom: 40px;
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
  &__line{
    width: 500px;
    height: 60px;
    border-bottom: 2px solid #ebeef3;
  }
  &__numbers{
    display: flex;
    justify-content: start;
    margin-top: 35px;
  }
  &__numbers-item{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }

.numbers-item-extra{
  position: relative;
}
.numbers-item-extra::before{
    content: '';
    position: absolute;
    background-image: url('../images/icons/vertical-line.svg');
    width: 1px;
    height: 80px;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10px;
    left: -24px;
  }
.numbers-item-extra::after{
    content: '';
    position: absolute;
    background-image: url('../images/icons/vertical-line.svg');
    width: 1px;
    height: 80px;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10px;
    left: 168px;
}
  
  &__numbers-img{
    margin-right: 20px;
    margin-top: 10px;
  }
  &__number-box{
    max-width: 100px;
  }
  &__number-info{
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 38px;
    color: #243f4d; 
  }
  &__number-name{
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}

.work-info{
  background-color: $slider;
  &__inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0 80px;
  }
  &__item{
    text-align: center;
  }
  &__img{
    margin: 0 auto;
  }
}

.ourteam{
  padding: 120px 0 50px;
  &__inner{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  &__description{
    max-width: 330px;
  }
  &__title{
    @extend %DMSans-700;
    font-size: 36px;
    color: #243f4d; 
    margin-bottom: 35px;
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__link{
    @extend %btn;
    position: relative;
    border-radius: 8px;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url('../images/link-arrow.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    top: 28px;
    left: 160px;
  }
  &__team-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }
  &__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 110px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    margin-top: -50px;
    background-color: #fff;
    position: absolute;
  }
  &__contacts-item{
    margin-left: 20px;
  }
  &__contacts-name{
    @extend %DMSans-700;
    font-size: 22px;
    line-height: 26px;
    color: #243f4d; 
    margin-bottom: 10px;
  }
  &__contacts-social{
    display: flex;
    justify-content: space-between;
    width: 90px;
    height: 50px;
    margin-right: 20px;
  }
  &__contacts-profecion{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
}




 









@import 'media';
